header{
  position: static;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background-color:#13424C;
  color:white;
}

.logo{
  font-size:20px;
  font-weight:bold;
}

.menu{
  background:#218490;
  padding:10px 15px;
  border-radius:8px;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
 background-color: #f3d3a0;
}

.contenedor{
  padding:40px;
}

.titulo{
  text-align:center;
  border:1px solid #F79065;;
  margin-bottom:40px;
}

.tarjetas{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
  gap:25px;
}

.tarjeta{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0px 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.tarjeta:hover{
  transform:scale(1.03);
}

.tarjeta h2{
  background-color: #B04617;
}

.tarjeta p{
  color:#444;
  line-height:1.5;
}
