header{
  position: static;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background-color:#13424C;
  color:white;
}

.logo{
  font-size:20px;
  font-weight:bold;
}

.menu{
  background:#218490;
  padding:10px 15px;
  border-radius:8px;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background-color:#f3d3a0;
}

.contenedor{
  padding:40px;
}

.titulo{
  text-align:center;
  background-color:#F79065;
  color:white;
  padding:15px;
  border-radius:12px;
  margin-bottom:40px;
}

.tarjetas{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
  gap:25px;
}

.tarjeta{
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0px 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.tarjeta:hover{
  transform:scale(1.03);
}

.tarjeta h2{
  background-color:#B04617;
  color:white;
  margin:0;
  padding:18px;
  text-align:center;
}

.tarjeta p{
  color:#444;
  line-height:1.5;
  padding:0 20px 15px;
}

.btn-inscribirme {
  background-color: #13424C;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:0.3s;
}

.btn-inscribirme:hover{
  transform:scale(1.05);
}
