body{
  margin:0;
  font-family: Arial;
  background-color:#ffffff;
}


header{
  position: static;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background-color:#13424C;
  color:white;
}

.logo{
  font-size:20px;
  font-weight:bold;
}

.menu{
  background:#218490;
  padding:10px 15px;
  border-radius:8px;
}


.buscador{
  position: static;
  width: 100%;
  display:flex;
  justify-content:center;
  padding:15px;
  background:#ffffff;
}

.buscador input{
  width:60%;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}


.banner{
  width:100%;
  height:300px;
  background:linear-gradient(
    to right,
    #13424C,
    #218490
  );
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  text-align:center;
}

.banner h1{
  font-size:40px;
  margin:0;
}

.banner p{
  margin-top:10px;
}


.opciones{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:40px;
  flex-wrap:wrap;
}


.caja{
  width:200px;
  text-decoration:none;
  text-align:center;
  background:#ffffff;
  border-radius:12px;
  overflow:hidden;

  transition:0.3s;
  border:2px solid #218490;
  position: static;
}

.caja:hover{
  transform:scale(1.05);
}

.caja img{
  width:100%;
  height:140px;
  object-fit:cover;
}

.caja h3{
  padding:10px;
  background:#AE7C54;
  color:white;
  margin:0;
}
