body{
  margin:0;
font-family: Arial;
background-color: rgb(160, 164, 177);
}


header{
  position: static;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background-color:#13424C;
  color:white;
}

.logo{
  font-size:20px;
  font-weight:bold;
}

.menu{
  text-align: center;
}
.caja{
  
  background-color: rgb(178, 203, 224);
   text-align: center;
   padding: 20px;
}


.opciones{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:40px;
  flex-wrap:wrap;
}


.caja{
  width:200px;
  text-decoration:none;
  text-align:center;
  background:#ffffff;
  border-radius:12px;
  overflow:hidden;
 
  transition:0.3s;
  border:2px solid #218490;
  position: static;
}

.caja:hover{
  transform:scale(1.05);
}

.caja img{
  width:100%;
  height:140px;
  object-fit:cover;
}

.caja h3{
  padding:10px;
  background:#AE7C54;
  color:white;
  margin:0;
}




