body{
    margin:0;
    font-family: Arial;
background-color: #f3d3a0;
    
}

h1{
    text-align:center;
    margin-top:40px;
}

h2{
    text-align:center;
    margin-top:40px;
}

form{
    width:400px;
    margin:40px auto;
    background-color:white;
    padding:30px;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

 input, select
{
    padding:5px;
    border-radius:8px;
    border:1px solid #F79065;;
}
button{
    padding:12px;
    border:none;
    border-radius:8px;
    background-color: #B04617;;
    color:white;
    cursor:pointer;

}